<div>
    <h2>Add Pet</h2>

    <input ng-model="vm.newPet.name" type="text" placeholder="name">
    <input ng-model="vm.newPet.breed" type="text" placeholder="breed">
    <input ng-model="vm.newPet.color" type="text" placeholder="color">
    <select ng-model="vm.newPet.owner_id">
        <option value="">--Select Owner's Name--</option>
        <option ng-repeat="owner in vm.owners.list" value="{{owner.id}}">{{owner.name}}</option>
    </select>
    <button ng-click="vm.addPet(vm.newPet)">Submit</button>

    <div ng-repeat="pet in vm.pets.list">
        {{pet}}
    </div>
</div>