<div>
    <h2>Add Pet</h2>

    <input ng-model="vm.newPet.name" type="text" placeholder="name">
    <input ng-model="vm.newPet.breed" type="text" placeholder="breed">
    <input ng-model="vm.newPet.color" type="text" placeholder="color">
    <select ng-model="vm.newPet.owner_id">
        <option value="">--Select Owner's Name--</option>
        <option ng-repeat="owner in vm.owners.list" value="{{owner.id}}">{{owner.name}}</option>
    </select>
    <button ng-click="vm.addPet(vm.newPet)">Submit</button>

    <div>
        <h2>History</h2>

        <table>
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Pet's Name</th>
                    <th>Breed</th>
                    <th>Color</th>
                    <th>Check In</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pet in vm.pets.list">
                    <td>{{pet.owner_name}}</td>
                    <td>{{pet.pet_name}}</td>
                    <td>{{pet.pet_breed}}</td>
                    <td>{{pet.pet_color}}</td>
                    <td>{{pet.check_in}}</td>
                    <td>
                        <button ng-click="vm.deletePet(pet.pet_id)">Delete</button>
                        <button ng-show="pet.check_in" ng-click="vm.updatePet(pet)">Check-Out</button>
                        <button ng-show="!pet.check_in" ng-click="vm.updatePet(pet)">Check-In</button>
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>

</div>