<div class="container">
    <div class="row">
      <div class="col-md-12" >
          <!-- <pre>{{vm  | json}}</pre> -->
          <ui-carousel slides="vm.slides" slides-to-show="1" slides-to-scroll="1" dots="true" autoplay="true" autoplay-speed="2000">
              <carousel-item>
                  <div class="image">
                    <img  class="text-center mx-auto d-block" ng-src="{{ item.img }}" style="height:500px; width: 100%; margin:0 auto;">
                  </div>
                </carousel-item>
          </ui-carousel>
      </div>
    </div>
</div>