<div>
    <h2>Add Owner</h2>

    <input type="text" placeholder="Owner Name" ng-model="vm.newOwner">
    <button ng-click="vm.addOwner(vm.newOwner)">Submit</button>

    <div>
        <h2>Owners</h2>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Pets</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="owner in vm.owners.list">
                    <td>
                        <p ng-show="!editMode" ng-click="edit = true">{{owner.name}}</p>
                        <input ng-show="editMode" ng-model="owner.name" />
                    </td>
                    <td>{{owner.number_of_pets}}</td>
                    <td>
                        <button ng-click="vm.deleteOwner(owner.id)">Delete</button>
                        <button ng-show="!editMode" ng-click="editMode = true">Edit</button>
                        <button ng-show="editMode" ng-click="editMode = false; vm.updateOwner(owner)">Save</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>