<div class="container">
    <h2>Add Owner</h2>


    <form>
        <div class="form-group">
            <label>Owner Name</label>
            <input type="text" class="form-control" placeholder="Owner Name" ng-model="vm.newOwner">
        </div>
        <div class="submitPet">
            <button type="submit" class="btn btn-primary " ng-click="vm.addOwner(vm.newOwner)">Submit</button>
        </div>
    </form>

    <div>
        <h2 class="owners">Owners</h2>

        <table class="table table-hover">
            <thead class="tableHead">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Number of Pets</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="tableBody">
                <tr ng-repeat="owner in vm.owners.list">
                    <td>
                        <p ng-show="!editMode" ng-click="edit = true">{{owner.name}}</p>
                        <input ng-show="editMode" ng-model="owner.name" />
                    </td>
                    <td>{{owner.number_of_pets}}</td>
                    <td>
                        <button ng-click="vm.deleteOwner(owner)" class="btn btn-danger">
                            <i class="material-icons">delete</i>
                        </button>
                        <button ng-show="!editMode" ng-click="editMode = true" class="btn btn-warning">
                            <i class="material-icons">
                                edit
                            </i>
                        </button>
                        <button ng-show="editMode" ng-click="editMode = false; vm.updateOwner(owner)" class="btn btn saveButton">
                                <i class="material-icons">
                                        save
                                    </i>    
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>